<article>
  <h3>
      City&nbsp;of Amsterdam Open&nbsp;Source
  </h3>
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>
  </ul>
  <p>Thanks for contributing!</p>
</article>
<article>
  <h3>
    <a href="{{ site.baseurl }}/projects/">Projects</a>
  </h3>
  <ul>
      {% for page in site.pages %} {% if page.abstract and page.title and page.name != "index.md" %}
      <li>
          <a href="{% if page.link %}{{page.link}}{% else %}{{ site.baseurl }}{{ page.url }}{% endif %}">{{ page.title }}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>
</article>
<article>
  <h3>
    <a href="{{ site.baseurl }}/guides/">Guides</a>
  </h3>
  <ul>
    {% for page in site.pages %} {% if page.explains and page.title and page.name != "index.md" %}
    <li>
      <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endif %} {% endfor %}
  </ul>
</article>
<article>
  <h3>
    <a href="mailto:algemeen.ois@amsterdam.nl">Contact</a>
  </h3>
  <ul>
    <li>
      <a href="http://data.amsterdam.nl">data.amsterdam.nl</a>
    </li>
    <li>
      <a href="http://github.com/amsterdam">GitHub.com/Amsterdam</a>
    </li>
    <li>
      <a href="mailto:algemeen.ois@amsterdam.nl">algemeen.ois@amsterdam.nl</a>
    </li>
  </ul>
</article>
